.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.backdropWrapper {
    width:90%;
    max-height: 20rem;
    overflow: hidden;
    border-radius: 0.75rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.backdrop {
    width: 130%;
    object-fit: cover;
    filter: brightness(0.8);
    transition: transform 0.3s ease;
    animation: pan 12s ease-in-out infinite alternate;
}

@keyframes pan {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}

.backdrop:hover {
    transform: scale(1.02);
}

.content{
    width: 90%;
    gap: 1.5rem;
    margin: 0 auto;
}

.details {
    max-width: 180px;
    max-height: 270px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    float:left;
}

.poster {
    width: 100%;
    height: auto;
    max-width: 180px;
    border-radius: 0.75rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.text {
    gap: 0.5rem;
    color: #363636;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
}

.releaseDate {
    font-size: 0.9rem;
    color: #fbbf24;
}

.rating{
    color: #929292;
}
.overview {
    font-size: 0.95rem;
    line-height: 1.5;
}
p{
    font-size:small;
}
