.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.main{
    flex: 1;
    //max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    background: linear-gradient(to bottom, #ffffff, #fffff8);
    border-top: 1px solid black;
    //background:linear-gradient(90deg, #08075e, #090636)
}

.footer{
    display:flex;
    justify-content: center;
    padding:.5rem;
    color:#05050583;
    font-size:0.5rem;
    background: linear-gradient(to bottom, #fffff8, #ffffff);
}