.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 0.75rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #363636;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.subtitle {
    margin-top: 0.25rem;
    font-size: 0.95rem;
    color:rgb(231, 169, 92);
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 2px 3px rgba(54, 47, 47, 0.171);
}

.error {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 0.9rem;
    color: #fca5a5;
}