.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color:rgb(231, 169, 92);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;;
}

.title {
    display:flex;
    justify-content: center;
    font-weight: 500;
    margin: 0;
    color: #222;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.30);
}

.subtitle {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display:flex;
    justify-content: center;
}

.searchQuery {
    color: rgb(182, 137, 15);
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 2px 3px rgba(54, 47, 47, 0.171);
}

.message{
    font-size: large;
    color: #222;
}